<%- include('../partials/header') %>
<div>
    <div style="max-width: 600px; margin: 1rem auto;">
        <%- include('../particals/create-post') %>
    </div>
</div>

<%- include('../particals/post-modal') %>

<%- include('../partials/footer') %>